<!--<div class="container" role="main">
  <div class="title">
    <h1>BookFlight</h1>
  </div>
  <div class="table-responsive rounded bg-light p-4 my-4">
    <div class="mb-2">
      <p class="font-weight-bold">Active Flight Schedule</p>
    </div>
    <table class="table table-hover">
      <thead class="table-borderless table-secondary">
        <tr>
          <th scope="col">Id</th> &nbsp;
          <th scope="col">Flightname</th>&nbsp;
          <th scope="col">Source</th>&nbsp;
          <th scope="col">Destination</th>&nbsp;
          <th scope="col">DepartureTime</th>&nbsp;
          <th scope="col">ArrivalTime</th>&nbsp;
          <th scope="col">Duration</th>&nbsp;
          <th scope="col">EconomicClassPrice</th>&nbsp;
          <th scope="col">BusinessClassPrice</th>&nbsp;
    
        </tr>
      </thead>
      <tbody>        
        <tr *ngFor="let f of Flight">
          <td scope="row">{{flight.Id}}</td>&nbsp;
          <td>{{flight.Flightname}}</td>&nbsp;
          <td>{{flight.Source}}</td>&nbsp;
          <td>{{flight.Destination}}</td>&nbsp;
          <td>{{flight.DepartureTime}}</td>&nbsp;
          <td>{{flight.ArrivalTime}}</td>&nbsp;
          <td>{{flight.Duration}}</td>&nbsp;
          <td><input type="radio" name="optradio">{{flight.EconomicClassPrice}}</td>&nbsp;
          <td><input type="radio" name="optradio">{{flight.BusinessClassPrice}}</td>
          <br>
        </tr>             
      </tbody>-->
  